JWT_SECRET=product-center-secret

ENV=dev
ADDR=192.168.5.65:8082

DB_USER=root
DB_PASS=root
DB_HOST=localhost
DB_PORT=3306
DB_NAME=product_db

REDIS_ADDR=192.168.5.65:6379
REDIS_PASSWORD=
REDIS_DB=0

MYSQL_TEST_HOST=localhost
MYSQL_TEST_PORT=3306
MYSQL_TEST_USER=root
MYSQL_TEST_PASS=root
MYSQL_TEST_DB=product_test

ETCD_ADDR=127.0.0.1:2379

KAFKA_ADDR=localhost:9092

APP_ENV=dev
LOG_LEVEL=info
LOG_ENCODING=console
# 生产建议
# LOG_ENCODING=json
# LOG_LEVEL=info

PRODUCT_CACHE_TTL=300
